@import "../../scss/variables";
@import "../../scss/mixin";

.button-on-image {
  cursor: pointer;
  display: flex;
  align-items: center;
  // learned something new down there
  position: relative;
  z-index: 1;

  &__button:link,
  &__button:visited {
    display: inline-block;
    color: $black;
    background-color: $white;
    padding: 2rem 4rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: $animate;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 1px solid white;
      top: 0.5rem;
      left: 0.5rem;
      transition: $animate;
    }
  }

  &:hover &__button::before {
    background-color: $white;
  }

  &__button:hover {
    background-color: $lightRed;
    color: $white;
  }
}
