@import "../../scss/variables";
@import "../../scss/mixin";

.section-title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: $black;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

// @media (max-width: 480px) {
//   .section-title {
//     text-align: center;
//   }
// }
