@import "../../scss/variables";
@import "../../scss/mixin";

.hero-container {
  position: relative;
  max-width: 140rem;
  aspect-ratio: 16/7;

  div[class*="textbox"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5rem;
    color: $white;

    h3[class*="heading"] {
      letter-spacing: 0.5rem;
    }

    p[class*="subheading"] {
      letter-spacing: 0.2rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    div[class*="button-group"] {
      flex-direction: column;
      align-items: flex-start;
      a:link,
      a:visited {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.hero-background-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
}

@media (max-width: 54em) {
  .hero-container {
    aspect-ratio: 16/9;

    div[class*="textbox"] {
      left: 2rem;
    }
  }
}

@media (max-width: 48em) {
  .hero-container {
    aspect-ratio: 16/10;
  }
}

@media (max-width: 45em) {
  .hero-container {
    aspect-ratio: 16/11;
  }
}

@media (max-width: 38em) {
  .hero-container {
    div[class*="textbox"] {
      transform: translateY(-35%);
    }
  }
}

@media (max-width: 30em) {
  .hero-container {
    aspect-ratio: 16/18;

    div[class*="textbox"] {
      transform: translateY(-20%);

      h3[class*="heading"] {
        font-size: 4rem !important;
      }

      p[class*="subheading"] {
        font-size: 1.6rem !important;
      }
    }
  }

  .hero-background-image {
    background-position: 56% 50% !important;
  }
}

@media (max-width: 28em) {
  .hero-container {
    aspect-ratio: 16/18;

    div[class*="textbox"] {
      transform: translateY(-40%);

      h3[class*="heading"] {
        font-size: 4rem !important;
      }

      p[class*="subheading"] {
        font-size: 1.6rem !important;
      }
    }
  }

  .hero-background-image {
    background-position: 56% 50% !important;
  }
}
