.navbar {
  margin-bottom: 1.2rem;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0rem 1rem 2rem rgba(17, 17, 17, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .navbar__brandName {
    padding: 1.15rem;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    font-family: inherit;
    display: flex;
    align-items: center;
    padding-left: 5rem; }
  .navbar .navigation-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%; }
    .navbar .navigation-menu__item {
      font-size: 1.6rem;
      cursor: pointer;
      height: 100%; }
      .navbar .navigation-menu__item--link:link, .navbar .navigation-menu__item--link:visited {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #111;
        text-decoration: none;
        position: relative;
        padding: 2.5rem 1rem;
        height: 100%;
        text-transform: capitalize; }
      .navbar .navigation-menu__item--link:link::before, .navbar .navigation-menu__item--link:visited::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: #111;
        bottom: 0;
        left: 0;
        transform-origin: center;
        transform: scale(0, 1);
        transition: all 0.3s; }
      .navbar .navigation-menu__item .dropdown-container {
        visibility: collapse;
        opacity: 0;
        position: absolute;
        padding: 4rem 2rem;
        bottom: 0;
        transform: translateY(100%);
        left: 0;
        width: 100%;
        pointer-events: none;
        transition: all 0.3s;
        background-color: #fff;
        z-index: 1;
        cursor: default; }
      .navbar .navigation-menu__item:hover .navigation-menu__item--link:link::before,
      .navbar .navigation-menu__item:hover .navigation-menu__item--link:visited::before {
        transform: scale(1, 1); }
      .navbar .navigation-menu__item:hover .dropdown-container {
        visibility: visible;
        opacity: 1;
        pointer-events: auto; }
        .navbar .navigation-menu__item:hover .dropdown-container .dropdown {
          opacity: 1;
          transform: translateY(0%); }
  .navbar__searchbar-and-user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    gap: 1rem; }
    .navbar__searchbar-and-user-info__user-info {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center !important; }
      .navbar__searchbar-and-user-info__user-info div[class*="image-button"] {
        background-color: #fff !important;
        width: 4rem; }
        .navbar__searchbar-and-user-info__user-info div[class*="image-button"]:hover {
          background-color: #ddd !important; }

/*# sourceMappingURL=Navbar.css.map */
