@import "../../scss/variables";

.logobar {
  background-color: $brandPrimary;
  padding: 1.5rem 2rem 2.5rem;

  a[class*="brand-name"] {
    &:link,
    &:visited {
      color: $white !important;
      margin-bottom: 1.5rem;
    }
  }

  .sportslogos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    img {
      width: 4rem;
    }
  }
}
