@import "../../../scss/variables";
@import "../../../scss/mixin";

.mobile-nav {
  background-color: $white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0rem 1rem 2rem rgba($brandPrimary, 0.1);

  &__brand-and-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 2rem 2rem;

    a[class*="brand-name"] {
      &:link,
      &:visited {
        margin-right: auto !important;
        padding: 0.75rem 0;
      }
    }

    div[class*="image-button"] {
      background-color: $white;
      width: 4rem;

      &:hover,
      &:active {
        background-color: $veryLightGray;
      }
    }

    div[class*="hamburger-menu"] {
      width: 4rem;

      &:hover,
      &:active {
        background-color: $veryLightGray;
      }
    }
  }

  &__searchbar-and-user-info__user-info {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center !important;

    div[class*="image-button"] {
      background-color: $white !important;
      width: 4rem;

      &:hover {
        background-color: $veryLightGray !important;
      }
    }
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
    transform: translateX(100%);
    transition: all 0.25s;

    &--open {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 30em) {
  //480px

  .mobile-nav__container {
    width: 90%;
  }
}
