@import "../../scss/variables";

.perks {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: $mediumMargin;
  background-color: $brandSecondary;

  &__perk {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

@media (max-width: 30em) {
  //480px
  .perks {
    padding: 3rem 2rem;
    flex-direction: column;
    justify-content: initial;
    gap: 4rem;
    background-color: $white;

    &__perk {
      font-size: 2rem;
    }
  }
}
