@import "../../scss/variables";

.perks {
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: $mediumMargin;
  background-color: $brandSecondary;

  &__perk {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .perks {
    padding: 6rem;
    gap: 6rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .perks {
    padding: 3rem 2rem;
    flex-direction: column;
    justify-content: initial;
    gap: 3rem;
  }
}
