@import "../../scss/variables";
@import "../../scss/mixin";

.low-height-showcase {
  position: relative;
  margin-bottom: $sectionMargin;

  &__img {
    width: 100%;
    aspect-ratio: 16/5.5;
  }

  &__textbox {
    display: flex;
    color: $white;
    flex-direction: column;
    align-items: center;

    &--heading {
      @include heading(5rem);
    }

    &--subheading {
      @include subheading(100%, uppercase);
    }
  }
}
