@import "../../scss/variables";
@import "../../scss/mixin";

.form-container {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 5rem;
  min-width: 20rem;
  justify-content: center;
  background-color: transparent;
  backface-visibility: hidden;
  transition: top 0s, transform 0s, min-width 0.25s, background-color 0.7s;
  z-index: 1000;
}

.expand {
  position: fixed;
  top: 0;
  transform: translateY(0%);
  min-width: 100%;
  height: 30rem;
  background-color: $white;
  padding-top: 2rem;
  margin-right: 0;
  transition: top 0s, transform 0s, min-width 0.25s, background-color 0.7s;

  .form-searchbar {
    width: 50%;

    &__label {
      justify-content: flex-start !important;
    }
  }
}

.form-searchbar {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 1rem;

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;

    img {
      display: block;
      height: 2.5rem;
    }
  }

  &__label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: $brandPrimary;
    padding: 1.3rem;
    border-radius: 1000rem;

    &:hover {
      background-color: lighten($brandPrimary, 5%);
    }

    &__input {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      font-family: inherit;
      background-color: inherit;
      color: $white;
      flex-grow: 1;

      &::placeholder {
        font-size: 1.4rem;
        font-family: inherit;
        color: $gray;
      }

      &:hover {
        &::placeholder {
          color: $white;
        }
      }

      &:focus {
        outline: none;
      }
    }

    img {
      display: block;
      height: 2.2rem;
      padding-left: 1rem;
    }
  }
}
