@import "../../scss/variables";
@import "../../scss/mixin";

.showcase {
  width: 100%;
  position: relative;
  margin-bottom: $sectionMargin;

  &__img {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 4.5rem;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    a:link,
    a:visited {
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 1.7rem;
      color: $white;
      background-color: $brandPrimary;
      padding: 1rem 2rem;
      transition: $animate;
      font-weight: 300;
    }

    a:hover,
    a:active {
      background-color: $lightRed;
      color: $white;
    }

    &--heading {
      @include heading(6.5rem);
    }

    &--subheading {
      @include subheading(25%, none);
    }
  }
}
