//heading-desc-btn-textbox mixins

@mixin heading($fontSize) {
  font-family: $anton;
  font-size: $fontSize;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2.4rem;
}

@mixin subheading($width: 100%, $textTr: none, $text-align: left) {
  width: $width;
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: $text-align;
  margin-bottom: 3.2rem;
  text-transform: $textTr;
}

@mixin normalBtnDarkNoHover($fontSize: 1.7rem) {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: $fontSize;
  color: $white;
  background-color: $brandPrimary;
  padding: 1rem 2rem;
  transition: $animate;
  text-transform: capitalize;
}

@mixin normalBtnDarkWithHover {
  background-color: $lightRed;
  color: $white;
}
