//heading-desc-btn-textbox mixins

@mixin normalBtnDarkNoHover($fontSize: 1.7rem) {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: $fontSize;
  color: $white;
  background-color: $brandPrimary;
  padding: 1rem 2rem;
  transition: $animate;
  text-transform: capitalize;
}

@mixin normalBtnDarkWithHover {
  background-color: $lightRed;
  color: $white;
}

@mixin buttonAt64em {
  font-size: 1.2rem;
  padding: 1.5rem;
}

@mixin buttonAt54em {
  font-size: 1.2rem;
  padding: 1.3rem;
}

@mixin buttonAt45em {
  font-size: 1.2rem !important;
  padding: 1.25rem !important;
}

// image container size mixin
@mixin widescreenImageContainer {
  width: 100%;
  aspect-ratio: 16/9;
}

//flexbox mixins
@mixin flex-all-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//general button mixins
@mixin btn-reset() {
  background: none;
  border: none;
}
