//colors
$brandPrimary: #111;
$brandSecondary: #f1f3f5;
$white: #fff;
$gray: darken($white, 50%);
$darkWhite: darken($white, 3%);
$black: #000;
$lightBlack: lighten($black, 30%);
$lightRed: #fa5252;

//font
$roboto: "Roboto", sans-serif;
$anton: "Anton", sans-serif;

//effects
$animate: all 0.3s;
$animateFast: all 0.2s;

//spacing
$smallMargin: 1.2rem;
$mediumMargin: 3.6rem;
$largeMargin: 7.2rem;
$sectionMargin: 9.6rem;
$componentGap: 2rem;

//border
$test: 1px solid green;
